.arrivals {
  padding-top: 100px;
  padding-bottom: 50px;
}

.arrivals__header {
  margin-bottom: 100px;
}

.arrivals__cards {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}
