@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap");

/* 

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5; 
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(244, 239, 239);
  @apply bg-slate-500;
  display: inline;
}

div {
  display: flex;


  border: 1px solid red;
  width: 50rem;
  margin: 1px;
} 

 background-image: url("/fon.jpg");
  background-size: cover;
  background-repeat: no-repeat; */
/* /* body {
  margin: 0;
  padding: 20px;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */
