@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #39383f;
  font-family: "Roboto", sans-serif;
  background-image: url("/fon.jpg");
  /* // background-size: cover; */
  /* background-repeat: no-repeat; */
}
.post_wrap {
  max-width: 2000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.post_item {
  margin-top: 18px;
  padding: 12px;
}
.post_item * {
  /* // transition: 0.3s linear; */
}
.item_content {
  background: #d6cbf3;
  padding: 50px;
}

.item_body {
  display: block;
  color: #1d1813;
  line-height: 1cm;
}

.item_body input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;

  border: none;
  background-color: rgba(255, 255, 255, 0.377);
  /* font-size: 15px;
  padding: 6px 0 4px 10px;

  border: transparent;
  background: #19101033;
  outline: none; */
}

.item_body input:focus {
  border: 5px solid #ffb3c0;
}

/* input {
  @apply block py-1.5 px-3 mb-2 w-full border border-transparent bg-placeholder:text-white/60black/30  outline-none;
  transition: border-color 0.35s linear;
   &:focus {} 
} */

.item_body textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: rgba(255, 255, 255, 0.377);
}

.item_body textarea:focus {
  border: 5px solid #ffb3c0;
}
.item_body button {
  font-size: 20px;
  transition-delay: 0.1s;
  font-weight: 400;
  margin: 5px;
  border-radius: 5%;
  background: transparent;
  cursor: pointer;
}

.item_body button:hover {
  background: rgba(255, 255, 255, 0.545);
}

.item_footer {
  padding-top: 10px;
}
.link {
  text-decoration: none;
  display: inline-block;
  overflow: hidden;
  position: relative;
  padding-right: 30px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: #262422;
}
.link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  height: 0.125rem;
  margin: auto;
  background: #df666e;
  transform: scaleX(0.2);
  transform-origin: left center;
  z-index: 0;
  transition: 0.6s cubic-bezier(0.6, 0.01, 0, 1);
}

.link button {
  display: inline-block;
  position: relative;
  transform: translateX(-200%);
  transition: 0.6s cubic-bezier(0.6, 0.01, 0, 1);
}
.item_footer:hover .link button {
  transform: translateX(0%);
}
.item_footer:hover .link:before {
  transform-origin: right center;
}
@media (min-width: 768px) {
  .post_item {
    flex-basis: 80%;
    flex-shrink: 0;
  }
}
@media (min-width: 960px) {
  .post_item {
    flex-basis: 80%;
  }
}

/* //https://yoksel.github.io/unicode-table/ */
/* http://css.yoksel.ru/content/ */
/* https://html5book.ru/krasivoe-oformlenie-blokov-na-sayte/ */
