:root {
  --textColor: rgb(119, 6, 17);
  --yellow: rgb(220, 171, 24);
  --gray: #7f7f7f;
}
body {
  font-family: "Open Sans", sans-serif;
  color: var(--textColor);
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
}

.title2 {
  display: inline-block;
  font-weight: 900;
  font-size: 48px;
  line-height: 1.04;
  letter-spacing: 0.06em;
  position: relative;
}

.title2::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 180px;
  bottom: 0px;
  width: 300px;
  height: 100px;
  background-image: url("../img/arrivals/yellowL.png");
  background-repeat: no-repeat;
  border-radius: 50%;
}
